@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');

.logoContainer{
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;

  i{
      font-size: 30px;
      :nth-of-type(2){
          font-size: 20px !important;
      }
  }

  p{
      font-size: 30px;
  }

}